.container{
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}
.header-top{
  background-color:#021431;
  padding: 10px;
}
.header-top a{
  margin-right: auto;
  text-decoration: none;
  color: aliceblue;
  font-weight: 200;
  text-transform: capitalize;
  margin-right: 10px;
  transition: all 0.4s ease-in-out;
}
.header-top a:hover{
  color: #9a9c9f;
}
.auth{
  display: flex;
  align-items: center;
  justify-content: right;
}
.header-bottom{
  background-color: #F0F6FF;
  padding: 15px 20px;
}

.header-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  background-color: #057AFF;
  padding: 5px 15px;
  color: #F0F6FF;
  text-decoration: none;
  border-radius: 8px;
}
.header-link{
  display: flex;
  align-items: center;
gap: 15px;
}

.header-link a{
  text-decoration: none;
  color: #021431;
}

.cart{
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 25px;
  cursor: pointer;
}


/* hero section style */
.hero-wrapper{
  display: flex;
align-items: center;
justify-content: space-between;
margin-top: 100px;
}

.hero-title{
  width: 50%;
}

.hero-title h1{
  font-size: 60px;
  color: #394E6A;
}

.hero-title p{
  width: 550px;
  font-size: 18px;
  margin-top: 15px;
  line-height: 30px;
  margin-bottom: 50px;
}

.hero-title button{
  background-color: #057AFF;
  color: #F0F6FF;
  padding: 20px 5px;
  border: none;
  width: 180px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.hero-title button:hover{
  background-color: #0c58ae;
}

.hero-slider{
  display: inline-flex;
  scroll-behavior: smooth;
  overflow-x: scroll;
  scrollbar-width:none;
  gap: 15px;
  border-radius: 16px;
  background-color: #021431;
  border: 15px solid;
  width:450px;
}

.hero-slider img{
  border-radius: 10px;
}
.item-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.feature h2{
  color: #394E6A;
  margin-top: 60px;
  margin-bottom: 15px;
}

.feature hr{
  color: lightgray;
  margin-bottom:50px; 
}
.item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 380px;
  gap: 20px;
  box-shadow: 1px 2px 5px lightgray;
  border-radius: 16px;
  margin-top: 10px;
  color: #394E6A;
  cursor:pointer;
}

.item img{
  border-radius: 8px;
  margin-top: 5px;
  object-fit: cover;
}

.item span{
  margin-bottom: 25px;
}
